* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.App{
    position: relative;
    height: 100vh; 
    //background-color: rgb(185, 120, 245);
    background-position: bottom;

    .quote-box{
        position: relative;
        //background-color: #f0ffff;
        transform: translateY(75%);
        //border: 1px solid black;
        width: 40%;
        height: 40%;
        margin-left: 30%;         
        border-radius: 7px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        .Quotes{
            position: absolute;            
            text-align: center;
            text-shadow: 1px;                          
            //border: 1px red solid;             
            top:7%;                    
            left:2.5%; 
            bottom: 4%;            
            width:95%;
            height: 70%;
            font-family: 'Dancing Script', cursive;
            font-size: 20px;
            font-weight: 600; 
            overflow: auto;       
        
            .Author{    
                 position: absolute;       
                 right:4%;
                // top: 70%;
                 text-align: right;           
            }
        }

        #tweet-quote{
            position: absolute; 
            bottom: 4%;
            left: 5%;
        }

        #new-quote{
            position: absolute;            
            text-align: center;  
            bottom: 4%;
            right: 2%;
            border-radius: 8px; 
            width: 120px;  
            height:35px;        
            background-color: #007bff;            
            font-family: 'Segoe UI';
            font-weight: 600;
            color: bisque;
        }
    }
}

